.diff td{
	padding:0 0.667em;
	vertical-align:top;
	white-space:pre;
	white-space:pre-wrap;
	font-family:Consolas,'Courier New',Courier,monospace;
	font-size:0.75em;
	line-height:1.333;
}

.diff span{
	display:block;
	min-height:1.333em;
	margin-top:-1px;
	padding:0 3px;
}

* html .diff span {
	height:1.333em;
}

.diff span:first-child{
	margin-top:0;
}

.diffDeleted span{
	border:1px solid rgb(255,192,192);
	background:rgb(255,224,224);
}

.diffInserted span{
	border:1px solid rgb(192,255,192);
	background:rgb(224,255,224);
}

.diff td.diffBlank {
	border:1px solid rgb(192,192,192);
	background:rgb(224,224,224);
}

.diff td.diffUnmodified {
	padding-top: .5em;
	padding-bottom: .5em;
}

.diff td.diffUnmodified span {
	display: none;
}

.diff td.diffUnmodified span:first-child,
.diff td.diffUnmodified span:nth-child(2) {
	display: block;
}

.diff td.diffUnmodified span:nth-child(2):not(:nth-last-child(2))::after {
	content: '...';
	display: block;
	color: blue;
}

.diff td.diffUnmodified span:last-child,
.diff td.diffUnmodified span:nth-last-child(2) {
	display: block;
}

#toStringOutput{
	margin:0 2em 2em;
}

.last-match-data-parser-output {
	white-space: pre;
	font-family: Consolas;
	overflow-y: auto;
	max-height: 50px;
	background: #222;
	color: #ddd;
}